* {
	margin: 0;
	padding: 0;
}

.bg-black {
	background: black;
}

.my-name{
    font-weight: 600;
}

.font-div {
	width: 25%;
}

img {
	width: 100%;
	height: 287px;
}

.fa-github,
.fa-linkedin-in,
.fa-twitter {
	font-size: 20px;
	padding: 10px;
}

@media (max-width: 480px) {
	.tab {
		display: none;
	}
	.icon {
		font-size: 1.2em;
	}
	.my-name {
		font-size: 52px;
	}
}
