.bg-black {
	background: black;
}

.font-div {
	width: 25%;
}

img {
	width: 100%;
	height: 100%;
}

/* /* @media only screen and (max-width: 768px) { */
/* .font-div {
	/* margin-right: -1px; */
/* width: 26%;
} */

/* .icon {
	margin-right: -8px;
} */

/* #myName{
        width: 100%;
    }
} */

@media (max-width: 576px) {
	.tab {
		display: none;
	}
}
/* display: flex; */
/* align-items: center; */
/* align-content: space-between;
        align-items: center;
        box-align: center;
    }
    

    .icon{
        font-size: 1.2em;
    }
} */
